<%= @post.title %>
<br>
<%= @post.content %>
<br>
<%= @post.categories.map {|category| category } %>

<ul>
<% @post.comments.each do |comment| %>
    <li>
      <%= comment.user.username %> says: <%= comment.content %>
    </li>
  <% end %>
</ul>

<%= form_for @post.comments.build do |c| %>

    <%= c.collection_select :user_id, User.all, :id, :username %>

    <%= c.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :username %>
        <%= user_fields.text_field :username %>
    <% end %>

      <%= c.label :content, "New Comment" %>
      <%= c.text_field :content %>
      <%= c.hidden_field :post_id, value: @post.id %> 
    <%= c.submit %>
<% end %> 

<% @post.users.uniq.each do |user| %>
     <%= link_to user.username, user_path(user) %>
<% end %>

