<%= @post.title %>
<%= @post.content %>

<ul>
<% @post.comments.each do |comment| %> 
  <li>
    <%= link_to comment.user.username, user_path(comment.user) %> says <%= comment.content %>
  </li>
<% end %>
</ul>

<%= form_for @post.comments.build do |c| %>
    <%= c.label "Content" %>
    <%= c.text_field :content %>
    <%= c.collection_select :user_id, User.all, :id, :username %>
    <%= c.fields_for :categories, @post.categories.build do |categories_fields| %>
      <%= categories_fields.text_field :name %>
    <% end %>
    <%= c.submit %>
  <% end %> 